/*body
{
    margin:0px;
 padding:0px;
 font-family:Arial, Helvetica, sans-serif;
 }*/

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.wrapper
{
    width:1080px;
 
    margin: auto;
    padding: 0px;
    min-height:660px;
}


.content_area
{
    float: left;
    width: 1050px;
    margin: 20px 0 20px 0;
    padding: 10px;
}

#footer
{
    padding:0px;
    clear: both;
    height: 45px;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-color: #00008b;
   
  
}
.btnSend{
     background-color: #00008b; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
}


.btnSend:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btnSend:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}*/

.inquiryBox{
    align-items:center;
    width:auto;
    margin:auto;
    box-shadow:0px 8px 16px 0 rgba(0,0,0,0.2), 10px 6px 20px 10px rgba(0,0,0,0.19);
    text-align:center;
    border:0.005em;
    padding: 15px;

}

.txtbox{
   width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}


.imgLeft
{
    float: left;
    width: 500px;
    height: 330px;
    margin: 0px 10px 10px 0;
    padding: 10px;
    border-radius: 30px;
    border-collapse: inherit;
   
}

.imgRight
{
    float: right;
    width: 500px;
    height: 320px;
    margin: 0px 0px 10px 10px;
    padding: 10px;
     border-radius: 25px 50px;
     padding-bottom: 3px;
}

/*Detail page*/
.detailsImage {
    height: 465px;
    width: 400px;
    margin-right: 30px;
    border-radius: 30px;
    
}

.detailsDescription {
    font-style: italic;
    width: 1000px;
}

.detailsPrice {
    font-weight: bold;
    font-size: 24px;
    padding-top:100px;
    width: 300px;
}
.productName {
    font-weight: bold;
    font-size: 18px;
    }


.productPrice {
    font-family: arial,helvetica,sans-serif;
    color: #FFB600;
    font-size:22px;
    margin-left: 1150px;
    
}
