 #hero {
            align-items:center;
            width: 700px;
            height:400px;
            position:relative;
            margin:20px auto;
            overflow:hidden;
          
            /*margin-bottom:200px;*/
            border: 0px solid #FFF;
            border-radius:7px;
            /*box-shadow:0px 0px 10px 5px #808080;*/
            box-shadow: 10px 10px 5px grey;
            /*box-shadow: 10px 8px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
            /*-webkit-box-shadow:0 0 1px 1px #E3E3E3;*/
        }

        #slider{
            width:100%;
            height:inherit;
            display:block;
            position:absolute;

        }

        #next{
            background: url(/Images/slider/right-arrow.png) no-repeat center center;
            display:block;
            float:right;
            height:100%;
            width:100px;
            position: relative;
            z-index:99;
            cursor:pointer;
        }

         #prev{
            background: url(/Images/slider/left-arrow.png) no-repeat center center;
            display:block;
            float:left;
            height:100%;
            width:50px;
            position: relative;
            z-index:99;
            cursor:pointer;
        }

       
        .caption{
            width:400px;
            height:50px;
            line-height:50px;
            text-align:center;
            display:block;
            position:absolute;
            background-color: rgba(0,0,0,.3);
            color:#FFF;
            border-top-right-radius:7px;
            border-bottom-right-radius:7px;
        }
        #pager{
            width:100%;
            text-align:center;
            display:block;
            position:absolute;
            z-index:99;
            bottom:20px; 
        }
        #pager a{
            width: 10px;
            height:10px;
            display:inline-block;
            position:relative;
            background-color:transparent;
            border:1px solid #333;
            margin: 0 10px;
            border-radius: 20px;
            font-size: .0em;
            color: transparent;

        }

        #pager a.activeSlide{
            background-color:#FFF;

        }
        #img{
            width:700px;
            height:400px;
        }